:root{
    --skyblue:#03b1ee;
    --skyblue2:#37d1f7;
    --skyblue3:#98feff;
    --skyblue4:#d0fbff;
    --deepblue:#12263e;
    --fontcolor:#f0ecd1;
    --fontshadow:#a48d5b;
    --horizontal-space:25px;
    --main-border:1px solid rgba(251,247,220,0.5)
}