#no-mobile{
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background:url(../../images/pattern.png);
    color:var(--skyblue);
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    font-size: 32px;
}

@media screen and (max-width:600px){
    #no-mobile{
        display: none;
    }
}